In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
derived_data = pd.read_csv("Waterbase_v2018_1_WISE4_csv/Waterbase_v2019_1_S_WISE2_SpatialObject_DerivedData.csv")
data         = pd.read_csv("Cleaned_EQR.csv")

In [3]:
derived_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11953 entries, 0 to 11952
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   countryCode                     11953 non-null  object
 1   thematicIdIdentifier            11953 non-null  object
 2   thematicIdIdentifierScheme      11953 non-null  object
 3   monitoringSiteIdentifier        11492 non-null  object
 4   monitoringSiteIdentifierScheme  11492 non-null  object
 5   monitoringSiteName              11492 non-null  object
 6   waterBodyIdentifier             11819 non-null  object
 7   waterBodyIdentifierScheme       11819 non-null  object
 8   waterBodyName                   11819 non-null  object
 9   specialisedZoneType             11819 non-null  object
 10  naturalAWBHMWB                  11425 non-null  object
 11  reservoir                       11425 non-null  object
 12  surfaceWaterBodyTypeCode        11425 non-null  object
 13  subUnitIdentifier               11812 non-null  object
 14  subUnitIdentifierScheme         11812 non-null  object
 15  subUnitName                     11812 non-null  object
 16  rbdIdentifier                   11812 non-null  object
 17  rbdIdentifierScheme             11812 non-null  object
 18  rbdName                         11812 non-null  object
 19  confidentialityStatus           11953 non-null  object
 20  lat                             10751 non-null  float64
 21  lon                             10751 non-null  float64
dtypes: float64(2), object(20)
memory usage: 2.0+ MB

In [4]:
derived_data.sample(5)

,countryCode,thematicIdIdentifier,thematicIdIdentifierScheme,monitoringSiteIdentifier,monitoringSiteIdentifierScheme,monitoringSiteName,waterBodyIdentifier,waterBodyIdentifierScheme,waterBodyName,specialisedZoneType,...,surfaceWaterBodyTypeCode,subUnitIdentifier,subUnitIdentifierScheme,subUnitName,rbdIdentifier,rbdIdentifierScheme,rbdName,confidentialityStatus,lat,lon
3977,IE,IESE_100_0200,euSurfaceWaterBodyCode,NaN,NaN,NaN,IESE_100_0200,euSurfaceWaterBodyCode,NEW ROSS PORT,transitionalWaterBody,...,TW2,IEROI,euSubUnitCode,REPUBLIC OF IRELAND,IEROI,euRBDCode,REPUBLIC OF IRELAND,inapplicable,52.33642,-6.99370
2704,FR,FRER06213500,euMonitoringSiteCode,FRER06213500,euMonitoringSiteCode,GOLO A ALBERTACCE,FRER70,euSurfaceWaterBodyCode,LE GOLO DE SA SOURCE AU BARRAGE DE CALACUCCIA,riverWaterBody,...,M16-A,FRE,euSubUnitCode,LES COURS D'EAU DE LA CORSE,FRE,euRBDCode,LES COURS D'EAU DE LA CORSE,F,42.31927,8.97642
9093,RO,RO32100,eionetMonitoringSiteCode,RO32100,eionetMonitoringSiteCode,ZERIND - STATIA HIDROMETRICA,RORW3-1-42_B5,euSurfaceWaterBodyCode,CRISUL NEGRU - CNF. VALEA NOUA - FRONTIERA,riverWaterBody,...,RO11,RO8,euSubUnitCode,ABA CRISURI,RO1000,euRBDCode,DANUBE RIVER BASIN DISTRICT,unknown,46.62680,21.51660
5993,LU,LUL110030A11,euMonitoringSiteCode,LUL110030A11,euMonitoringSiteCode,"KAUTENBACH, DOWNSTREAM EMBOUCHURE CLERVE",LUIV-1-1-A,euSurfaceWaterBodyCode,WILTZ,riverWaterBody,...,III,LU000,euSubUnitCode,MOSELLE-SARRE,LU000,euRBDCode,RHINE,F,49.94943,6.02165
9224,RO,RO8036,euMonitoringSiteCode,RO8036,euMonitoringSiteCode,DRAGASANI RESERVOIR,ROLW8-1_B10,euSurfaceWaterBodyCode,"OLT - AC.IONESTI, ZAVIDENI, DRAGASANI, STREJES...",riverWaterBody,...,ROLA01,RO3,euSubUnitCode,ABA OLT,RO1000,euRBDCode,DANUBE RIVER BASIN DISTRICT,F,44.68620,24.34860

In [5]:
# From The data definition file there are some ineteresting column that we could look into

# 1. countryCode                       (Abbreviation of EEA Member or Collaborating Country)
# 2. monitoringSiteIdentifier          (Unique international identifier of the monitoring site) (Used to connect 2 datasets together)
# 3. specialisedZoneType               (Additional classification value which further specialises the type of management, regulation or restriction zone, represented by this spatial object)
# 4. naturalAWBHMWB                    (Specification of whether a water body is identified as natural, artificial (AWB) or heavily modified (HMWB))
# 5. reservoir                         (For heavily modified river or lake water bodies, the value indicates whether the water body is a reservoir that has been created by damming a river or an existing lake)
# 6. confidentialityStatus             (Information about the sensitivity and confidentiality status of the monitoring site location)
# 6. lat                               (Longitude of the monitoring site. It is not provided for monitoring sites where publication is restricted)
# 7. lon                               (Latitude of the monitoring site. It is not provided for monitoring sites where publication is restricted)

specialisedZoneType

In [6]:
# Check For Data that is in Specialised Zone Type
derived_data["specialisedZoneType"].value_counts()

riverWaterBody           9090
lakeWaterBody            1792
coastalWaterBody          501
transitionalWaterBody     436
Name: specialisedZoneType, dtype: int64

In [7]:
# The column contain the data about costalWaterBody and transitionalWaterBody which we didn't used in the previous data
# Therefore we will drop both costalWaterBody and transitionalWaterBody

derived_data = derived_data[(derived_data["specialisedZoneType"] == "riverWaterBody") | (derived_data["specialisedZoneType"] == "lakeWaterBody")]

In [8]:
# Rename riverWaterBody and lakeWaterBody for later
derived_data["specialisedZoneType"].replace("riverWaterBody","RW",inplace=True)
derived_data["specialisedZoneType"].replace("lakeWaterBody","LW",inplace=True)

In [9]:
# Rename the column to CountryCode inorder to make it easier to merge between each dataframe
derived_data.rename(columns={"specialisedZoneType": "parameterWaterBodyCategory"},inplace=True)

In [10]:
derived_data["parameterWaterBodyCategory"].value_counts()

RW    9090
LW    1792
Name: parameterWaterBodyCategory, dtype: int64

countryCode

In [11]:
# Rename the column to CountryCode inorder to make it easier to merge between each dataframe
derived_data.rename(columns={"countryCode": "CountryCode"},inplace=True)

In [12]:
# Check Each Unique Country
derived_data["CountryCode"].unique()

array(['AT', 'BE', 'BG', 'CH', 'CY', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR',
       'HR', 'IE', 'IT', 'LT', 'LU', 'LV', 'NL', 'NO', 'PL', 'PT', 'RO',
       'SE', 'SI', 'SK', 'UK'], dtype=object)

In [13]:
# Check Unique Country in Previous Cleaned Dataset
data["CountryCode"].unique()

array(['AT', 'BE', 'BG', 'CY', 'DE', 'EE', 'ES', 'FI', 'FR', 'HR', 'IE',
       'IT', 'LT', 'LU', 'LV', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI',
       'SK', 'UK'], dtype=object)

In [14]:
derived_data[derived_data["parameterWaterBodyCategory"] == "LW"]["CountryCode"].unique()

array(['AT', 'BE', 'BG', 'DE', 'EE', 'FI', 'FR', 'HR', 'IE', 'IT', 'LT',
       'LV', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'UK'], dtype=object)

In [15]:
# Check For Each Unique Country in each Dataset
len_uni_EQR_RW     = len(data[data["parameterWaterBodyCategory"] == "RW"]["CountryCode"].unique())
len_uni_EQR_LW     = len(data[data["parameterWaterBodyCategory"] == "LW"]["CountryCode"].unique())
len_uni_DER_RW     = len(derived_data[derived_data["parameterWaterBodyCategory"] == "RW"]["CountryCode"].unique())
len_uni_DER_LW     = len(derived_data[derived_data["parameterWaterBodyCategory"] == "LW"]["CountryCode"].unique())

# Current File
print(f"Number of Unique Country in DER (RW) Dataset : {len_uni_DER_RW}")
print(f"Number of Unique Country in DER (LW) Dataset : {len_uni_DER_LW}")

# Previous File
print(f"Number of Unique Country in EQR (RW) Dataset : {len_uni_EQR_RW}")
print(f"Number of Unique Country in EQR (LW) Dataset : {len_uni_EQR_LW}")

Number of Unique Country in DER (RW) Dataset : 26
Number of Unique Country in DER (LW) Dataset : 20
Number of Unique Country in EQR (RW) Dataset : 24
Number of Unique Country in EQR (LW) Dataset : 16

In [16]:
# First Check the value that are in EQR Dataset But not in DER dataset

RW_does_not_contain = []
LW_does_not_contain = []

for RW in data[data["parameterWaterBodyCategory"] == "RW"]["CountryCode"].unique():
    if RW not in derived_data[derived_data["parameterWaterBodyCategory"] == "RW"]["CountryCode"].unique():
        RW_does_not_contain.append(RW)

for LW in data[data["parameterWaterBodyCategory"] == "LW"]["CountryCode"].unique():
    if LW not in derived_data[derived_data["parameterWaterBodyCategory"] == "LW"]["CountryCode"].unique():
        LW_does_not_contain.append(LW)

print(f"Countries that are in the EQR (RW) Dataset but not in DER (RW) dataset: {RW_does_not_contain}")
print(f"Countries that are in the EQR (LW) Dataset but not in DER (LW) dataset: {LW_does_not_contain}")

Countries that are in the EQR (RW) Dataset but not in DER (RW) dataset: []
Countries that are in the EQR (LW) Dataset but not in DER (LW) dataset: ['CY']

In [17]:
# Check the shape of CY rows in the EQR dataset
data[(data["CountryCode"] == "CY") & (data["parameterWaterBodyCategory"] == "LW")]

,CountryCode,parameterICStatusOfDeterminandBiologyEQR,parameterBoundaryValueClasses12,parameterBoundaryValueClasses23,parameterBoundaryValueClasses34,parameterBoundaryValueClasses45,monitoringSiteIdentifier,parameterWaterBodyCategory,parameterNCSWaterBodyType,resultEcologicalStatusClassValue,result_convert_EQR,UID
24470,CY,0.555556,0.8,0.6,0.4,0.2,CYD2-2-6-85,LW,425.0,2,1,43423
24471,CY,0.555556,0.8,0.6,0.4,0.2,CYD2-2-6-85,LW,425.0,2,1,27530
24472,CY,0.555556,0.8,0.6,0.4,0.2,CYD2-2-6-85,LW,425.0,2,1,27538

In [18]:
# There are only 3 rows therefore we drop that rows
data = data[~((data["CountryCode"] == "CY") & (data["parameterWaterBodyCategory"] == "LW"))]
data.shape

(29007, 12)

In [19]:
# For this time check the country code that is existed in DER but nott in Data

RW_does_not_contain = []
LW_does_not_contain = []

for RW in derived_data[derived_data["parameterWaterBodyCategory"] == "RW"]["CountryCode"].unique():
    if RW not in data[data["parameterWaterBodyCategory"] == "RW"]["CountryCode"].unique():
        RW_does_not_contain.append(RW)

for LW in derived_data[derived_data["parameterWaterBodyCategory"] == "LW"]["CountryCode"].unique():
    if LW not in data[data["parameterWaterBodyCategory"] == "LW"]["CountryCode"].unique():
        LW_does_not_contain.append(LW)

print(f"Countries that are in the EQR (RW) Dataset but not in DER (RW) dataset: {RW_does_not_contain}")
print(f"Countries that are in the EQR (LW) Dataset but not in DER (LW) dataset: {LW_does_not_contain}")

Countries that are in the EQR (RW) Dataset but not in DER (RW) dataset: ['CH', 'DK']
Countries that are in the EQR (LW) Dataset but not in DER (LW) dataset: ['DE', 'FR', 'IT', 'NO', 'PT']

In [20]:
# Categorize data into 2 datasets data_RW and data_LW
derived_data_RW = derived_data[derived_data["parameterWaterBodyCategory"] == "RW"]
derived_data_LW = derived_data[derived_data["parameterWaterBodyCategory"] == "LW"]

In [21]:
# Drop these values

# RW
derived_data_RW = derived_data_RW[derived_data_RW["CountryCode"] != "CH"]
derived_data_RW = derived_data_RW[derived_data_RW["CountryCode"] != "DK"]

# LW
derived_data_LW = derived_data_LW[derived_data_LW["CountryCode"] != "DK"]
derived_data_LW = derived_data_LW[derived_data_LW["CountryCode"] != "DE"]
derived_data_LW = derived_data_LW[derived_data_LW["CountryCode"] != "FR"]
derived_data_LW = derived_data_LW[derived_data_LW["CountryCode"] != "IT"]
derived_data_LW = derived_data_LW[derived_data_LW["CountryCode"] != "DK"]

In [22]:
# Concat the dataframe
derived_data = pd.concat([derived_data_RW,derived_data_LW])
derived_data.shape

(10699, 22)

naturalAWBHMWB

In [23]:
derived_data["naturalAWBHMWB"].value_counts()

Natural    7698
HMWB       2484
AWB         223
Name: naturalAWBHMWB, dtype: int64

In [24]:
# Create Dummies for naturalAWBHMWB column
derived_data = pd.get_dummies(derived_data,columns=["naturalAWBHMWB"])

reservoir

In [25]:
# Do the same for reserviour
derived_data["reservoir"].value_counts()

Missing                                          7211
Not a reservoir                                  2523
Unpopulated                                       468
Reservoir in former river                         184
Reservoir in former lake                           15
Reservoir in former chain of rivers and lakes       4
Name: reservoir, dtype: int64

In [26]:
# Create a dummmies for this feature too

derived_data = pd.get_dummies(derived_data,columns=["reservoir"])

In [27]:
# Cut down the unused columns
cols = ['CountryCode',
        'monitoringSiteIdentifier',
        'parameterWaterBodyCategory',
        'naturalAWBHMWB_AWB',
        'naturalAWBHMWB_HMWB', 
        'naturalAWBHMWB_Natural', 
        'reservoir_Missing',
        'reservoir_Not a reservoir',
        'reservoir_Reservoir in former chain of rivers and lakes',
        'reservoir_Reservoir in former lake',
        'reservoir_Reservoir in former river', 
        'reservoir_Unpopulated',
        'confidentialityStatus',
        'lat', 
        'lon'
        ]

In [28]:
derived_data = derived_data[cols]

In [29]:
derived_data

,CountryCode,monitoringSiteIdentifier,parameterWaterBodyCategory,naturalAWBHMWB_AWB,naturalAWBHMWB_HMWB,naturalAWBHMWB_Natural,reservoir_Missing,reservoir_Not a reservoir,reservoir_Reservoir in former chain of rivers and lakes,reservoir_Reservoir in former lake,reservoir_Reservoir in former river,reservoir_Unpopulated,confidentialityStatus,lat,lon
0,AT,ATFW10000027,RW,0,0,1,0,1,0,0,0,0,F,47.86355,16.65678
1,AT,ATFW10000077,RW,0,0,1,0,1,0,0,0,0,F,47.95455,17.07872
2,AT,ATFW10000087,RW,0,0,1,0,1,0,0,0,0,F,46.93264,16.17592
3,AT,ATFW10000177,RW,0,0,1,0,1,0,0,0,0,F,47.20362,16.41487
4,AT,ATFW21500097,RW,0,1,0,0,1,0,0,0,0,F,46.64040,14.94296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11933,UK,UKSC320717,LW,0,0,1,1,0,0,0,0,0,F,56.30542,-4.32148
11944,UK,UKSC350177,LW,0,1,0,0,1,0,0,0,0,F,58.51839,-3.61022
11945,UK,UKSC350187,LW,0,0,1,1,0,0,0,0,0,F,59.04221,-3.22505
11948,UK,UKSC375884,LW,0,0,1,1,0,0,0,0,0,F,56.58158,-4.01845
11951,UK,UKSC459082,LW,0,0,1,1,0,0,0,0,0,F,59.05231,-3.22711

confidentialityStatus

In [30]:
# Check the status of this column
derived_data["confidentialityStatus"].value_counts()

F               9234
N                888
unknown          502
inapplicable      75
Name: confidentialityStatus, dtype: int64

In [31]:
# Total missing value in lat and lon columns
lat_na_sum = derived_data["lat"].isna().sum()
lon_na_sum = derived_data["lon"].isna().sum()

print(f"Missing value in lat columns when confidentiality status is N (Not for publication) : {lat_na_sum}")
print(f"Missing value in lon columns when confidentiality status is N (Not for publication) : {lon_na_sum}")

Missing value in lat columns when confidentiality status is N (Not for publication) : 1075
Missing value in lon columns when confidentiality status is N (Not for publication) : 1075

In [32]:
derived_data[derived_data["confidentialityStatus"] == "N"]

,CountryCode,monitoringSiteIdentifier,parameterWaterBodyCategory,naturalAWBHMWB_AWB,naturalAWBHMWB_HMWB,naturalAWBHMWB_Natural,reservoir_Missing,reservoir_Not a reservoir,reservoir_Reservoir in former chain of rivers and lakes,reservoir_Reservoir in former lake,reservoir_Reservoir in former river,reservoir_Unpopulated,confidentialityStatus,lat,lon
622,BG,BG1IS77799MS061,RW,0,1,0,0,0,0,0,1,0,N,NaN,NaN
642,BG,BG1VT00325MS031,RW,0,1,0,0,0,0,0,1,0,N,NaN,NaN
654,BG,BG1YN04471MS031,RW,0,1,0,0,0,0,0,1,0,N,NaN,NaN
658,BG,BG1YN62953MS041,RW,0,1,0,0,0,0,0,1,0,N,NaN,NaN
665,BG,BG2KA00961MS023,RW,0,1,0,0,0,0,0,1,0,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10850,UK,UKEA_BIOSYS_SW_91809,LW,0,1,0,0,0,0,0,0,1,N,NaN,NaN
10893,UK,UKEA_BIOSYS_SW_96528,LW,0,0,1,1,0,0,0,0,0,N,NaN,NaN
10900,UK,UKEA_BIOSYS_TH_144450,LW,0,1,0,0,0,0,0,0,1,N,NaN,NaN
10950,UK,UKEA_BIOSYS_TH_89081,LW,0,1,0,0,0,0,0,0,1,N,NaN,NaN
10960,UK,UKEA_WIMS_SO_G0006187,LW,0,1,0,0,0,0,0,0,1,N,NaN,NaN

In [33]:
lat_na_sum = derived_data[derived_data["confidentialityStatus"] == "F"]["lat"].isna().sum()
lon_na_sum = derived_data[derived_data["confidentialityStatus"] == "F"]["lon"].isna().sum()

print(f"Missing value in lat columns when confidentiality status is F (For publication) : {lat_na_sum}")
print(f"Missing value in lon columns when confidentiality status is F (For publication) : {lon_na_sum}")

Missing value in lat columns when confidentiality status is F (For publication) : 2
Missing value in lon columns when confidentiality status is F (For publication) : 2

In [34]:
# Check the missing value in lat and lon columns when confidentiality status is N
lat_na_sum = derived_data[derived_data["confidentialityStatus"] == "N"]["lat"].isna().sum()
lon_na_sum = derived_data[derived_data["confidentialityStatus"] == "N"]["lon"].isna().sum()

print(f"Missing value in lat columns when confidentiality status is N (Not for publication) : {lat_na_sum}")
print(f"Missing value in lon columns when confidentiality status is N (Not for publication) : {lon_na_sum}")

Missing value in lat columns when confidentiality status is N (Not for publication) : 888
Missing value in lon columns when confidentiality status is N (Not for publication) : 888

In [35]:
# Checks for missing value in other feature in confidentialitystatus

lat_na_sum = derived_data[derived_data["confidentialityStatus"] == "unknown"]["lat"].isna().sum()
lon_na_sum = derived_data[derived_data["confidentialityStatus"] == "unknown"]["lon"].isna().sum()

print(f"Missing value in lat columns when confidentiality status is unknown : {lat_na_sum}")
print(f"Missing value in lon columns when confidentiality status is unknown : {lon_na_sum}")

lat_na_sum = derived_data[derived_data["confidentialityStatus"] == "inapplicable"]["lat"].isna().sum()
lon_na_sum = derived_data[derived_data["confidentialityStatus"] == "inapplicable"]["lon"].isna().sum()

print(f"Missing value in lat columns when confidentiality status is inapplicable : {lat_na_sum}")
print(f"Missing value in lon columns when confidentiality status is inapplicable : {lon_na_sum}")

Missing value in lat columns when confidentiality status is unknown : 185
Missing value in lon columns when confidentiality status is unknown : 185
Missing value in lat columns when confidentiality status is inapplicable : 0
Missing value in lon columns when confidentiality status is inapplicable : 0

In [36]:
# the missing value in these rows can be easily fixed by using mean because we don't want the lat and lon value from rows that has confidentailstatus equal to N to ruin our data
# Fill the missing data with mean
derived_data.fillna(derived_data[["lat","lon"]].mean(),inplace=True)

Merging Data

In [37]:
# So Now We Merge both The EQR dataset and The Derived dataset together
# Using Monitoringsite, countrycode and parameterwaterbodycategory for connecting them together

merged = pd.merge(derived_data,data,on=["monitoringSiteIdentifier","parameterWaterBodyCategory","CountryCode"])

In [38]:
# Drop rows that has duplicated id
merged.drop_duplicates(["UID"],inplace=True)

In [39]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28805 entries, 0 to 28811
Data columns (total 24 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   CountryCode                                              28805 non-null  object
 1   monitoringSiteIdentifier                                 28805 non-null  object
 2   parameterWaterBodyCategory                               28805 non-null  object
 3   naturalAWBHMWB_AWB                                       28805 non-null  uint8
 4   naturalAWBHMWB_HMWB                                      28805 non-null  uint8
 5   naturalAWBHMWB_Natural                                   28805 non-null  uint8
 6   reservoir_Missing                                        28805 non-null  uint8
 7   reservoir_Not a reservoir                                28805 non-null  uint8
 8   reservoir_Reservoir in former chain of rivers and lakes  28805 non-null  uint8
 9   reservoir_Reservoir in former lake                       28805 non-null  uint8
 10  reservoir_Reservoir in former river                      28805 non-null  uint8
 11  reservoir_Unpopulated                                    28805 non-null  uint8
 12  confidentialityStatus                                    28805 non-null  object
 13  lat                                                      28805 non-null  float64
 14  lon                                                      28805 non-null  float64
 15  parameterICStatusOfDeterminandBiologyEQR                 28805 non-null  float64
 16  parameterBoundaryValueClasses12                          28805 non-null  float64
 17  parameterBoundaryValueClasses23                          28805 non-null  float64
 18  parameterBoundaryValueClasses34                          28805 non-null  float64
 19  parameterBoundaryValueClasses45                          28805 non-null  float64
 20  parameterNCSWaterBodyType                                28805 non-null  float64
 21  resultEcologicalStatusClassValue                         28805 non-null  int64
 22  result_convert_EQR                                       28805 non-null  int64
 23  UID                                                      28805 non-null  int64
dtypes: float64(8), int64(3), object(4), uint8(9)
memory usage: 3.8+ MB

In [40]:
merged.to_csv("merged.csv",index=False)